table {
  border-collapse: collapse;
  margin-bottom: 2.0rem;
}

th, td {
  border: 1px solid var(--border-colour);
  padding: .5rem;
}

th {
  text-align: left;
}

tr td:first-child {
  text-align: center;
}

footer {
  margin-top: 60px;
  border-top: 2px solid var(--border-colour)
}

:root {
  --border-colour: #666;
}

